@{
    ViewData["Title"] = "Pure SVG";
}

<div class="text-center">
    <h1 class="display-4">SVG puro</h1>
</div>

<svg width="200" height="200">
   
    <!-- Black Circle -->
    <circle cx="50" cy="50" r="30" fill="black" id="blackCircle" />

    <!-- Red Square -->
    <rect x="100" y="100" width="50" height="50" fill="red" id="redSquare"/>
    <line x1="50" y1="50" x2="125" y2="125" stroke="black" stroke-width="2" id="line" />
</svg>


<svg xmlns="http://www.w3.org/2000/svg" width="200" height="100">
    <!-- Black rectangle -->
    <rect x="10" y="10" width="180" height="40" fill="black" />
    <text x="20" y="35" font-family="Arial" font-size="16" fill="white">Hello world</text>

    <!-- Grey rectangle -->
    <rect x="10" y="60" width="180" height="40" fill="grey" />
    <text x="20" y="85" font-family="Arial" font-size="16" fill="black">Click me</text>
</svg>

<br />

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xml="http://www.w3.org/XML/1998/namespace" width="200" height="200">
   
    <g id="grupo1">
        <rect x="10" y="10" width="180" height="40" fill="black" />
        <rect x="40" y="40" width="180" height="40" fill="blue" />
        <rect x="80" y="81" width="180" height="20" fill="green" />
        <text x="20" y="102" font-family="Arial" font-size="16" fill="white">Hello world</text>
    
    </g>
</svg>


<script>
    // Remove the red circle after 3 seconds
    setTimeout(function () {
        var redCircle = document.getElementById("line");
        redCircle.remove();
        var grupo = document.getElementById("grupo1");
        grupo.remove();
    }, 3000);
</script>

